
*{
    margin: 0px;
    padding: 0px;
}

h1{
    margin: 40px;
    padding: 30px;
    bottom: 10px;
    color: brown;
    outline: 1px solid red;
}
p{
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    border-color: blue;
    background-color:wheat;
    display: flex;
}