body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: wheat;
}

    /*outline: 1px solid blue; para ver el espacio que ocupa*/
ul{
    list-style: none;
    padding: 0;/*quitar el espacio del inicio*/
    margin: 0;
    background: black;
    line-height: 40px;
}
li{ 
    width: 100px;
    display: inline-block;/*el texto vaya seguido y sea de bloque*/
    text-align: center;
}
a{
    text-decoration: none;
    display: block;/*todo el campo donde esta el texto se pueda clickear*/
    color: white;/*color del texto*/
}
a:hover{/* para cambiar el color del fondo cuando el cursor este encima*/
    background: orange;
    color: black;
}
h1{
    text-align: center;

}
p{
    text-align: center;
}
